//

body {
    background-color: darkgoldenrod;
    color: white;
}

header {
    background-color: yellowgreen;

}

footer {
    background-color: darkorange;
}

ul {
    list-style-type: none;
}

a {
    color: lightblue;
}

